#map-container {
    position: relative;
    height: calc(100vh - 150px);
    /* Ajusta la altura del mapa restando la altura del overlay-section */
}

#map {
    width: 100%;
    height: 100%;
}

#overlay-section {
    position: absolute;
    bottom: 5px;
    /* Espacio desde la parte inferior */
    left: 5px;
    /* Espacio desde el lado izquierdo */
    width: 100%;
    /* Ancho del overlay-section */
    height: 150px;
    /* Altura máxima del overlay-section */
    overflow-y: auto;
    /* Habilita el scroll vertical si el contenido excede la altura máxima */
    background-color: #fff;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

.sidebar {
    --sidebar-width: 25.75rem;
}

.card {
    margin-bottom: 10px;
    /* Espacio entre tarjetas */
    border: 1px solid #ccc;
    /* Borde de las tarjetas */
    border-radius: 8px;
    /* Borde redondeado */
    padding: 10px;
    /* Espaciado interno de las tarjetas */
}

/*estilos para los niveles */
.containerDistancia {
    font-family: Arial, sans-serif;
    text-align: center;
}

.level {
    width: 70px;
    height: 110px;
    border: 2px solid #ccc;
    border-radius: 75px;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.liquid-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8em;
    box-sizing: border-box;
    border-top: 2px solid white;
}

.percentage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
    /* Ajusta el color según sea necesario */
    font-size: 1.5em;
    pointer-events: none;
    /* Asegura que el texto no interfiera con clics */
}

.table-active {
    background-color: #d1ecf1 !important; /* Color de fondo personalizado */
    color: #0c5460; /* Color de texto personalizado */
}