/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.content {
    padding: 1px; /* El sidebar se muestra cuando se activa */
}

  .App {
    display: flex;
    flex-grow: 1;
    padding: 12;
  }